.mainContentSection{
  width: 100%;
}

.breadCrumb{
  display: flex;
  align-items: center;
padding:5px 1rem;
  color:white;
  background: #05008f;
}
 .breadCrumb h6{
  margin:0;
 }

.contentSection{
  background: white;
  width: 100%;
  height: 100vh; 

}