
 
.sideBar {
  background: linear-gradient(to bottom,blue,#07c3ff);
  width: 5rem;
  height: 100vh; 
  padding-top: 1rem; 
}

.sideBarItem{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  color: white;
  font-size:10px;
  padding-top:1rem;
  padding-bottom: 1rem;
 
}

.sideBarItem.active{
  display: flex;
  flex-direction: column;
  background: #b0ebff;
  align-items: center;
  color: rgb(0, 0, 131);
  font-size:10px;
  border-radius: 8px 0 0 8px;
 padding:10px 0;
}

.sideIcons{
  font-size: 25px;
font-weight: 800;

}