.home {
  background: #ecfaff;
  width: 100%;
  height: 100vh;
}

.searchBar {
  width: 70%;
  margin-top: 1rem;
  height: 2.5rem;
  padding-left: 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: -2px 2px 6px rgb(203, 203, 203);
}

.searchBar:focus {
  width: 80%;
  margin-top: 1rem;
  height: 3rem;
  padding-left: 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: -2px 2px 6px rgb(203, 203, 203);
  padding-left: 2rem;
  outline: none;
}

.createSection {
  /* style={{display:'flex',width:'100%',marginTop:'2rem',justifyContent:'space-around'}} */
  display: flex;
  width: 100%;
  margin-top: 2rem;
  justify-content: center;

  gap:2rem;
}

.createSomething{
     /* style={{width:'40%',backgroundColor:'red',display:'flex'}} */
     width:30%;
    background-color: white;
    box-shadow: -2px 2px 4px rgb(228, 228, 228);
    display: flex;
      align-items: center;
    padding: 1rem;
    border-radius: 10px;
    padding-left:3rem;
    cursor: pointer;
}
.createSomething:hover{
     /* style={{width:'40%',backgroundColor:'red',display:'flex'}} */
     /* width:'40%'; */
    background-color: white;
    box-shadow: -4px 4px 12px rgb(188, 188, 188);
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    padding-left:3rem;
}

.createSomething img{
   height: 40px
}

.createSomething h6{
    padding-left:1rem;
}

.existingProjects{
   margin:auto;
   width: 80%;
   background-color: white;
   margin-top:2rem;
   padding: 1rem;
   height:20rem;
   border-radius: 10px;
   box-shadow: 2px 2px 20px rgb(211, 211, 211);
   overflow: scroll;
   overflow-x: hidden;
   
}