.home {
  background: #d9f5ff;
  width: 100%;
  height: 100vh;
}

.searchBar {
  width: 80%;
  margin-top: 1rem;
  height: 2.5rem;
  padding-left: 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: -2px 2px 6px rgb(203, 203, 203);
}

.searchBar:focus {
  width: 80%;
  margin-top: 1rem;
  height: 2.5rem;
  padding-left: 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: -2px 2px 6px rgb(203, 203, 203);
  padding-left: 2rem;
  outline: none;
}

.createSection {
  /* style={{display:'flex',width:'100%',marginTop:'2rem',justifyContent:'space-around'}} */
  display: flex;
  width: 100%;
  margin-top: 2rem;
  justify-content: space-around;
}

.createSomething{
     /* style={{width:'40%',backgroundColor:'red',display:'flex'}} */
     /* width:'100%'; */
    background-color: red;
    display: flex;
    padding: 1rem;
    border-radius: 10px;
}

.createSomething img{
   height: 40px
}
