.searchSection{
    background-color: #ecfaff;
    width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
   padding-top:5rem;
}

.inputField{
    width: 70%;
    /* height: 1rem; */
    margin-top: 2rem;
    border-radius: 10px;
    outline: none;
    border:none;
    box-shadow: 3px 3px 12px rgb(183, 183, 183);
    padding: 1rem 2rem 1rem 2rem;
}

.inputField:focus{
    width: 80%;
    /* height: 1rem; */
    margin-top: 2rem;
    border-radius: 10px;
    outline: none;
    border:none;
    box-shadow: 3px 3px 12px rgb(183, 183, 183);
    padding: 1rem 2rem 1rem 2rem;
}